{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
{{news}}
{% endblock %}
{% block content %}
Id: {{news.id}} <br>
Title: {{news.title}} <br>
<img src="{{news.image}}"><br>
Desc: {{news.description}}<br>
Source: {{news.source}}<br>
Tags: {{news.tags}}<br>
Views: {{news.views}}<br>
Instance: {{news.news_instance}}<br>
Positive: {{positive}}<br>
Negative: {{negative}}<br>
Neutral: {{neutral}}<br>
Polarity: {{polarity}}<br>
Converted Title: {{converted_title}}<br>
Converted Description: {{converted_description}}<br>
{% if request.user.is_superuser %}
<a href="{% url 'news:update-news' news.id %}">Update</a>
<a href="{% url 'news:delete-news' news.id %}">Delete</a>
{% endif %}
 <div id="container">
                <canvas id="pie-chart"></canvas>
            </div>
<script>
                var config = {
                type: 'pie',
                data: {
                    datasets: [{
                        data:[{{positive}}, {{negative}}, {{neutral}}],
                        backgroundColor: [
                            '#00ff80', '#ff6666', '#0080FF',
                        ],
                        label: 'Polarity'
                        }
                        ],
                        labels:['Positive', 'Negative', 'Neutral'],
                        },
                        options: {
                            responsive: true
                        }
                    };

                window.onload = function() {
                    var ctx = document.getElementById('pie-chart').getContext('2d');
                    window.myPie = new Chart(ctx, config);
                };
            </script>
{% endblock %}