{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
{{news}}
{% endblock %}
{% block content %}
Id: {{news.id}} <br>
Title: {{news.title}} <br>
Desc: {{news.description}}<br>
Source: {{news.source}}<br>
Tags: {{news.tags}}<br>
Views: {{news.views}}<br>
Instance: {{news.news_instance}}<br>
{% if request.user.is_superuser %}
<a href="{% url 'news:update-news' news.id %}">Update</a>
<a href="{% url 'news:delete-news' news.id %}">Delete</a>
{% endif %}
{% endblock %}